<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <table class="table table-striped">

        <thead>
            <tr>
                <th>WorkerId</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Patronymic</th>
                <th>Date</th>
                <th>Position</th>
                <th>CompnayId</th>
            </tr>
        </thead>
        <tbody ng-repeat="worker in workers">
            <tr>
                <td>{{worker.WorkerId}}</td>
                <td>{{worker.Name}}</td>
                <td>{{worker.Surname}}</td>
                <td>{{worker.DateRecruitment}}</td>
                <td>{{worker.Position}}</td>
                <td>{{worker.CompanyId}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
