
@{
    ViewBag.Title = "Index";
}

<h1 class="text-center">Manager Of Workers</h1>
<div class="container-fluid">
    <div class="row text-center">
         <button class="btn btn-group-lg btn-success">Company</button>
         <button class="btn btn-group-lg btn-success">Worker</button>
    </div>
</div>


