
@{
    ViewBag.Title = "Index";
}

<h1 class="text-center">Manager Of Workers</h1>
<div class="container-fluid">
    <div class="row text-center">
         <input type="button" class="btn btn-group-lg btn-success" value="Worker"  onclick="location.href='@Url.Action("MainPage","Worker")'"/>
         <button class="btn btn-group-lg btn-success" onclick="location.href='@Url.Action("GetAll","Company")'">Company</button>
    </div>
</div>


